.permuta_contact {
    display: flex;
}

.permuta_contact-c1 {
    background-color: #2542c3;
    text-align: center;
    color: white;
    width: 50%;
    height: 30rem;
}

.permuta_contact-c2 {
    background-color: #e73677;
    text-align: center;
    color: white;
    width: 50%;
    height: 30rem;
}

.permuta_contact-h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.permuta_contact-p1{
    font-size: 1.5rem;
}

.permuta_contact-h2{
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.permuta_contact-p2{
    font-size: 1.5rem;
}

.permuta_contact-b1 {
    background-color: #b3c1f3;
    color: #2542c3;
    border-radius: 50px;
    border-style: none;
    font-size: 0.8rem;
    font-weight: bold;
    height: 4rem;
    width: 13rem;
    box-shadow:  0.2rem 0.3rem #233989
}

.permuta_contact-b2 {
    background-color: #f1adc8;
    color: #e73677;
    border-radius: 50px;
    border-style: none;
    font-size: 0.8rem;
    font-weight: bold;
    height: 4rem;
    width: 13rem;
    box-shadow:  0.2rem 0.3rem #c13e6b
}

.permuta_contact-move1 {
    position: relative;
    top: 6rem;
}

.permuta_contact-move2 {
    position: relative;
    top: 6rem;
}

