img {
    width: 150px;
    height: 50px
}

.permuta_nav {
    display: flex;
    padding: 20px;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 50px;
}

.permuta_nav-icon {
    color: white;
    height: 30px;
    width: 30px;
    position: relative;
    top: 20px;
    margin-left: 58rem;
}

